/*
DESENVOLVIDO POR: Thales A. Cardoso
GITHUB: https://github.com/thalesacardoso
DATA: 
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

    /* Custom Scroll */

    ::-webkit-scrollbar {
        width: 8px;
      }
    
      ::-webkit-scrollbar-thumb {
        background: var(--tertiary-color);
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
      }

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    list-style: none; 
}

html {
    font-size: 16px;
    color: var(--text-color); 
}

body {
    background-color: var(--primary-color);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

a {
    font-size: 0.75rem;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

.button {
    background-color: var(--tertiary-color);
    padding: 16px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: var(--text-color);
}

.ff-raleway {
    font-family: 'Raleway';
}

.ff-quicksand {
    font-family:'Quicksand';
}

@keyframes efeito {
    0% {
        transform: rotate(10deg);
    }

    15% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/*****************************************
            ESTILO DO NAV
******************************************/

nav {
    background-color: var(--nav-bg-color);
    padding: 12px 16px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav .logo-topo img {
    width: 160px;
}

nav a {
    margin-right: 24px ;
    font-weight: 700;
}

nav a.assinatura {
    background-color: var(--tertiary-color);
    padding: 8px 26px;
    border-radius: 50px;
    transition: background-color 1s, color 1s;
}

nav a.assinatura:hover {
    background-color: var(--btn-link-bg-color) ;
    color: var(--btn-link-color);
}


/*****************************************
            ESTILO DO HEADER
******************************************/

header {
    background: var(--primary-color);
    padding: 100px 0 300px;
    margin-top: 50px;

}

header .container {
    padding: 0 40px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

header .container .logos-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

header .container .texto1 span {
    font-size: 2rem;
}

header .container .divisor {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
}

header .preco p.ff-quicksand {
    font-size: 1.25rem;
}

header .preco h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

header .preco h2 span {
    font-size: 1rem;
    font-weight: normal;
    text-transform: lowercase;
}

header .button {
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    font-size: 1rem;
    animation: efeito 1s alternate infinite;
    outline: 2px solid transparent;
    transition: background 1s, outline 1s;
}

header .button:hover {
    background: transparent;
    background-size: 100%;
    outline: 2px solid var(--secondary-color);
    transition: background 1s, outline 1s;
}

/*****************************************
            ESTILO DO MAIN
******************************************/
main {
    background: url('../images/background-movies-series.png');
    width: 100%;
    height: 750px;
}

main .container {
    #background-color: blue;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

main .container h2 {
    text-transform: none;
}

main .container .section1 {
    margin: 40px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 80px;
}

main .plano {
    background: var(--card-bg-color);
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    padding: 40px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    text-align: left;
}

main .plano .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 16px;
}

main .plano .titulo h3.titulo-tipo {
    font-weight: 700;
    font-size: 1.5rem;
}

main .plano .titulo .preco {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
}

main .plano .titulo .preco span {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
}

main .plano ul li {
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
    list-style:disc;
}

main .plano ul li::marker {
    content: "+";
    font-size: 30px;
}


main .plano .button {
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    font-size: 0.75rem;
    outline: 2px solid transparent;
    transition: background 1s, outline 1s, transform 1s;
}

main .plano .button:hover {
    background: transparent;
    background-size: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
    transition: background 1s, outline 1s, transform 1s;
}




footer {
    height: 1000px;
}